<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="apple-mobile-web-app-title" content="RetroShelf">
<title>{% block title %}RetroShelf{% endblock %}</title>
<link rel="stylesheet" href="/static/app.css">
<link rel="apple-touch-icon" href="/static/icons/apple-touch-icon-180.png">
<link rel="icon" type="image/png" href="/static/icons/apple-touch-icon-180.png">
<link rel="alternate" type="application/atom+xml;profile=opds-catalog;kind=navigation" href="/opds" title="RetroShelf OPDS">
</head>
<body class="color-{{ request.cookies.get('rs_color') or 'amber' }}{{ ' big' if request.cookies.get('rs_big') == '1' else '' }}">
<div class="page">
<div class="wrap">
  <div class="topbar">
<pre class="ascii">+------------------------------+
|..............................|
|..+...+...+...+...+...+...+....|
|..+...+...+...+...+...+...+..@.|
|..+...+...+...+...+...+...+....|
|.........[====]...............|
+------------------------------+</pre>
    <a class="brand" href="/">RetroShelf</a>
    <div class="crest">DOS LIBRARY TERMINAL &mdash; v1.0</div>
    <div class="menubar">
      <a href="/">[ Library ]</a><a href="/list">[ List ]</a><a href="/search?q=">[ Search ]</a><a href="/help">[ Guide ]</a>
    </div>
  </div>
  {% block content %}{% endblock %}
  <div class="footer">
    <div class="statusline">RetroShelf the Patient Machine&nbsp;&nbsp;St:OK&nbsp;&nbsp;Lib:online&nbsp;&nbsp;T:1</div>
    <div class="prefs">
      <a href="/prefs?big=toggle&amp;next={{ request.url.path|urlencode }}&amp;t={{ site_token(request) }}">[ Large Print: {{ 'ON' if request.cookies.get('rs_big') == '1' else 'OFF' }} ]</a>
      {% if request.cookies.get('rs_covers') == '0' %}
        <a href="/prefs?covers=on&amp;next={{ request.url.path|urlencode }}&amp;t={{ site_token(request) }}">[ Covers: OFF ]</a>
      {% else %}
        <a href="/prefs?covers=off&amp;next={{ request.url.path|urlencode }}&amp;t={{ site_token(request) }}">[ Covers: ON ]</a>
      {% endif %}
    </div>
    <div class="prefs">
      Phosphor:
      <a href="/prefs?color=amber&amp;next={{ request.url.path|urlencode }}&amp;t={{ site_token(request) }}">[ Amber ]</a>
      <a href="/prefs?color=green&amp;next={{ request.url.path|urlencode }}&amp;t={{ site_token(request) }}">[ Green ]</a>
      <a href="/prefs?color=white&amp;next={{ request.url.path|urlencode }}&amp;t={{ site_token(request) }}">[ White ]</a>
    </div>
    <div class="colophon">// press a link to turn the page</div>
  </div>
</div>
</div>
</body>
</html>
