<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>{% block title %}RetroShelf{% endblock %}</title>
<link rel="stylesheet" href="/static/app.css">
</head>
<body>
<div class="page">
<div class="wrap">
  <div class="topbar">
<pre class="ascii">+--+--+--+--+--+--+--+--+
|##|::|..|##|::|..|##|::|
|##|::|..|##|::|..|##|::|
+==+==+==+==+==+==+==+==+</pre>
    <a class="brand" href="/">RetroShelf</a>
    <div class="crest">&#9670;&nbsp; Bibliotheca &amp; Reading Room &nbsp;&#9670;</div>
    <a class="toplink" href="/help">Reader&rsquo;s Guide</a>
  </div>
  <div class="ornament"><span>&#9670;</span><span>&#9670;</span><span>&#9670;</span></div>
  {% block content %}{% endblock %}
  <div class="footer">
    <div class="asterism">&#9670; &#9670; &#9670;</div>
    <a href="/">Library</a> <span class="sep">&#9670;</span> <a href="/help">Reader&rsquo;s Guide</a>
    <div class="colophon">Bound &amp; shelved for the patient machine.</div>
  </div>
</div>
</div>
</body>
</html>
