<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>{% block title %}RetroShelf{% endblock %}</title>
<link rel="stylesheet" href="/static/app.css">
</head>
<body>
<div class="page">
<div class="wrap">
  <div class="topbar">
<pre class="ascii">+------------------------------+
|..............................|
|..+...+...+...+...+...+...+....|
|..+...+...+...+...+...+...+..@.|
|..+...+...+...+...+...+...+....|
|.........[====]...............|
+------------------------------+</pre>
    <a class="brand" href="/">RetroShelf</a>
    <div class="crest">DOS LIBRARY TERMINAL &mdash; v1.0</div>
    <div class="menubar">
      <a href="/">[ Library ]</a><a href="/search?q=">[ Search ]</a><a href="/help">[ Guide ]</a>
    </div>
  </div>
  {% block content %}{% endblock %}
  <div class="footer">
    <div class="statusline">RetroShelf the Patient Machine&nbsp;&nbsp;St:OK&nbsp;&nbsp;Lib:online&nbsp;&nbsp;T:1</div>
    <div class="colophon">// press a link to turn the page</div>
  </div>
</div>
</div>
</body>
</html>
